p {
  margin: 0;
  font-size: 3vmin;
  font-stretch: expanded;
  line-height: 4vmin;
  color: #493d28;
}

br {
  display: block;
  content: "";
  margin-top: 2vmin;
}

a {
  color: #493d28;
}

.resume {
  background-color: #e5f1c7;
  font-family: "League Spartan", sans-serif;
  font-size: 3vmin;
  font-weight: 700;
  color: #4f6614;
  border: none;
  padding: 2vmin;
  border-radius: 2vmin;
}

.resume:hover {
  background-color: #4f6614;
  color: #e5f1c7;
  border: none;
}

img {
  width: 38vmin;
  height: 38vmin;
  border-radius: 100%;
  float: right;
  shape-outside: circle(50%);
  margin-left: 5%;
}

@media (orientation: portrait) {
  .aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    float: none;
    justify-self: center;
    margin: 0 0 3% 0;
  }
}
