a {
  color: #493d28;
  transition: all 350ms ease;
}

.ext {
  background-color: #e5f1c7;
  font-family: "League Spartan", sans-serif;
  font-size: 3vmin;
  font-weight: 700;
  color: #4f6614;
  border: none;
  padding: 2vmin;
  border-radius: 2vmin;
  transition: all 350ms ease;
}

.ext:hover {
  background-color: #4f6614;
  color: #e5f1c7;
  border: none;
}
