.home {
  text-align: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.name {
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 6vmin;
  text-shadow: 0.75vmin 0.75vmin 0 #6e8b26;
  position: absolute;
  width: 100%;
}

.h1 {
  margin-top: 4vmin;
}

.icon-button {
  color: white;
  background-color: #6e8b26;
  border: none;
  border-radius: 50%;
  width: 12vmin;
  height: 12vmin;
  font-size: 6vmin;
  justify-content: "center";
  align-items: "center";
  z-index: 5;
}

.icon-button:hover {
  background-color: #4f6614;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6vmin;
  position: absolute;
  bottom: 6vmin;
}

.page-button-container {
  height: 50vmin;
  width: 50vmin;
  position: relative;
}

.page-button {
  background-size: cover;
  border: none;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 5;
}

.page-button:hover {
  outline: 1vmin solid white;
}

.heading {
  position: absolute;
}

.top-row {
  display: flex;
  justify-content: space-around;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.top-wrapper,
.bottom-wrapper {
  position: absolute;
  width: 90%;
}

.top-wrapper {
  top: 4vmin;
}

.bottom-wrapper {
  bottom: 4vmin;
}

@media (orientation: portrait) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 8vmin;
    text-shadow: 1vmin 1vmin 0 #6e8b26;
    position: relative;
  }

  .h1 {
    margin: 0;
  }

  .icon-button {
    width: 16vmin;
    height: 16vmin;
    font-size: 8vmin;
  }

  .top-row,
  .bottom-row {
    display: flex;
    justify-content: space-around;
    position: relative;
  }

  .top-wrapper {
    margin-bottom: -6vmin;
    top: 0;
    position: relative;
  }

  .bottom-wrapper,
  .socials {
    bottom: 0;
    position: relative;
  }
}
