.grid-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #f7faf0;
  border-radius: 4vmin;
  width: 85vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  position: fixed;
}

.contents {
  position: relative;
  width: 92%;
  height: 100%;
  margin: 5%;
  overflow-y: auto;
  padding: 1%;
}

.heading {
  position: relative;
  width: 100%;
  height: 10vmin;
}

.title {
  position: absolute;
  font-family: "League Spartan", sans-serif;
  color: #f7a592;
  font-size: 4vmin;
  margin: 0;
  top: 5vmin;
  width: inherit;
  text-align: center;
}

.exit {
  position: absolute;
  top: 3vmin;
  right: 3vmin;
  color: #6e8b26;
  background-color: transparent;
  border: none;
  font-size: 6vmin;
  transition: all 350ms ease;
}

.exit:hover {
  color: #4f6614;
}

.exit:hover .logo {
  transform: scale(1.1);
}

a:hover,
strong {
  color: #86bdda;
}

.subheading {
  font-family: "League Spartan", sans-serif;
  color: #86bdda;
  font-size: 4vmin;
  margin: 4vmin 0 2vmin 0;
}

p {
  font-family: "League Spartan", sans-serif;
}
