.photosWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.film {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1vmin;
  margin-top: 2vmin;
}

.landscapeFood {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vmin;
  margin: 2vmin 0 1vmin 0;
}

.portraitFood {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1vmin;
  height: auto;
}

.portraitFood > img {
  height: 100%;
  overflow: hidden;
}

.pretty {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.prettyCaption {
  margin-bottom: 1vmin;
}

.prettyColumn {
  flex: 25%;
  max-width: 24%;
  margin: 0 0.5%;
}

.prettyColumn > img {
  margin-top: 1vmin;
  vertical-align: middle;
  width: 100%;
}

@media (orientation: portrait) {
  .film {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .landscapeFood {
    display: flex;
    flex-direction: column;
  }

  .portraitFood {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .prettyColumn {
    flex: 50%;
    max-width: 48%;
  }
}
