.App {
  text-align: center;
  background-color: #C4D49C;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.name {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'League Spartan', sans-serif;
  font-size: 6vmin;
  color: white;
  text-shadow: 0.75vmin 0.75vmin 0 #6E8B26;
}

@media (max-width: 667px) {
  .name {
    font-size: 8vmin;
    text-shadow: 1vmin 1vmin 0 #6E8B26;
  }  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
