.button {
  color: white;
  background-color: #6e8b26;
  border: none;
  border-radius: 50%;
  width: 12vmin;
  height: 12vmin;
  font-size: 6vmin;
  justify-content: "center";
  align-items: "center";
}

.button:hover {
  background-color: #4f6614;
}

@media (max-width: 667px) {
  .button {
    width: 16vmin;
    height: 16vmin;
    font-size: 8vmin;
  }
}
