.font {
  font-family: "League Spartan", sans-serif;
  color: white;
}

.app {
  background-color: #c4d49c;
  height: 100vh;
  width: 100vw;
}

.home {
  text-align: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 6vmin;
  text-shadow: 0.75vmin 0.75vmin 0 #6e8b26;
}

.icon-button {
  color: white;
  background-color: #6e8b26;
  border: none;
  border-radius: 50%;
  width: 12vmin;
  height: 12vmin;
  font-size: 6vmin;
  justify-content: "center";
  align-items: "center";
}

.icon-button:hover {
  background-color: #4f6614;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6vmin;
}

.page-button {
  background-image: url("./img/cutedog.jfif");
  background-size: cover;
  border: none;
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  z-index: 0;
  position: absolute;
}

.page-button:hover {
  border: solid;
}

.button-heading {
  align-items: center;
  justify-content: center;
}

.heading {
  z-index: 1;
  position: absolute;
  color: white;
}

@media (max-width: 667px) {
  .name {
    font-size: 8vmin;
    text-shadow: 1vmin 1vmin 0 #6e8b26;
  }

  .icon-button {
    width: 16vmin;
    height: 16vmin;
    font-size: 8vmin;
  }
}
