.font {
  font-family: "League Spartan", sans-serif;
  color: white;
}

.app {
  background-color: #c4d49c;
  height: 100vh;
  width: 100vw;
}

.home {
  text-align: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 6vmin;
  text-shadow: 0.75vmin 0.75vmin 0 #6e8b26;
}

.icon-button {
  color: white;
  background-color: #6e8b26;
  border: none;
  border-radius: 50%;
  width: 12vmin;
  height: 12vmin;
  font-size: 6vmin;
  justify-content: "center";
  align-items: "center";
}

.icon-button:hover {
  background-color: #4f6614;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6vmin;
  position: absolute;
  bottom: 6vmin;
}

.page-button-container {
  align-items: center;
  justify-content: center;
  height: 50vmin;
  width: 50vmin;
  position: relative;
}

.page-button {
  background-size: cover;
  border: none;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
}

.page-button:hover {
  outline: 1vmin solid white;
}

.heading {
  position: absolute;
}

.bottom-pages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6vmin;
}

/* .bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: "center";
  align-items: "center";
  position: relative;
} */

@media (max-width: 667px) {
  .name {
    font-size: 8vmin;
    text-shadow: 1vmin 1vmin 0 #6e8b26;
  }

  .icon-button {
    width: 16vmin;
    height: 16vmin;
    font-size: 8vmin;
  }

  .bottom-row {
    width: 100%;
  }

  .bottom-pages {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }

  .empty {
    display: none;
  }

  .socials {
    bottom: 12vmin;
  }
}
